@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-style: "Roboto", arial, sans-serif;
    font-size: 16px;
    color: #044F91;
}

/* HEADER */

.bg-header {
    background-color: #044F91;
}

.navbar-brand img {
    height: 32px;
    margin-right: 6.5rem;
}

.navbar a {
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 40px;
    font-weight: bold;
}

.fas.fa-bars {color: #fff;}

/* BANNER */

.title-banner {
    margin-top: 4rem;
    margin-bottom: 2.3125rem;
    font-size: 2.5rem;
}

.text-banner {
    font-size: 1.8rem;
    margin-bottom: 5.3125rem;
    max-width: 425px;
}

.phone {
    margin-top: 6.375rem;
}

.bg-phone {
    background-color: #F7F7FF;
    background-image: url("../../assets/images/footer-copyright.svg");
    background-repeat: no-repeat;
    background-position: 506px;
    background-size: cover;
    padding: 0 0 43px;
    overflow: hidden;
}

.bt-teste:link {
    text-decoration: none;
}

/* FUNÇÕES */

.title-pa {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2.1rem;
}

#functions .fas {
    margin-right: 0.8125rem;
    font-size: 3.5625rem;
}

.fun-item {
    margin-right: 10px;
    margin-bottom: 3.125rem;
}

/* CONTATO */

.bg-contact {
    background-color: #DAEEFF;
}

input::placeholder{
    color: rgba(5, 78, 144, 0.5) !important;
    font-weight: bold;
}

textarea::placeholder{
    color: rgba(5, 78, 144, 0.5) !important;
    font-weight: bold;
}

input::-moz-placeholder {
    opacity: 1;
  }

  #contact .btn-success {
      margin-bottom: 1rem;
  }

  /* FOOTER */

  .bg-footer {
      background-color: #044F91;
  }

  footer img {
    width: 112px;
  }

  footer figure {
    margin-top: 1rem;
}

.social-item {
    color: #fff;
    padding: 1rem .5rem;
}

.social-item i {
    font-size: 32px;
    margin: 1rem 0;
}

.bg-form {
    margin-top: 6rem;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+99,000000+100&0.1+0,0.1+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 99%, rgba(0,0,0,0.1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#1a000000',GradientType=0 ); /* IE6-9 */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .phone {
        margin-right: 1rem;
    }
    .title-banner {
        margin-top: 7rem;
        margin-bottom: 5.3125rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
